 body{
 	margin: 5%;
 	text-align: center;
  background-color: #ffd633;

}

img{
	margin: 30px;
	-webkit-transition: all 0.5s; 
    /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;

  -webkit-animation-name: imgIn; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: imgIn;
  animation-duration: 1s;
}

img:hover{
	-webkit-transform:scale(1.3);
}

@-webkit-keyframes imgIn {
    0%   {-webkit-transform:scale(0);}
}

a{
	text-decoration: none;
}