body{
	/*margin-top: 10%;*/
	text-align: center;
	background-color: #ffd633;
	color: white;
	font-family: Raleway;
	/*background: url("banner_blur_cut.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
}

img {
	margin: 30px;
	width: 80px;
	height: 80px;
}

.schoolList{
	margin: 15%;
	height: 50%;
}

.school{
	margin: 30%;
}

.scu{
  -moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
  transition: all 0.5s;

  -webkit-animation-name: imgIn; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  
  animation-name: imgIn;
  animation-duration: 1s;
  
  -moz-animation-name: imgIn;
  -moz-animation-duration: 1s;

}

.ntnu{
	-webkit-transform:scale(0);
	-webkit-transition: all 0.5s; 

  -moz-transform:scale(0);
  -moz-transition: all 0.5s; 

  transition: all 0.5s;

  -webkit-animation-name: imgIn; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-delay:0.5s;
  -webkit-animation-fill-mode:forwards;
 
  animation-name: imgIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode:forwards;

}

.smu{
	-webkit-transform:scale(0);
	-webkit-transition: all 0.5s; 
	-moz-transform:scale(0);
	-moz-transition: all 0.5s; 
    /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;

  -webkit-animation-name: imgIn; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-delay:1s;
  -webkit-animation-fill-mode:forwards;

  animation-name: imgIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode:forwards;

  -moz-animation-name: imgIn;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1s;
  -moz-animation-fill-mode:forwards;

}


img:hover{
	opacity: 0.5;
}

@-webkit-keyframes imgIn {
    from   {-webkit-transform:scale(0);}
    to   {-webkit-transform:scale(1);}
}

@-moz-keyframes imgIn {
    from   {-moz-transform:scale(0.0);}
    to   {-moz-transform:scale(1.0);}
}

a{
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}