#name {font-style: "lobster";
	   font-size:600%;}

.pj {font-style: "Heiti SC Light";font-size:200%;line-height:100px}

body {text-align: center;}

.pj:hover{font-size:250%;
	text-decoration: underline;
	cursor: pointer}