@font-face{
	font-family: Wyue;
	src: url(http://ya.ksana.tw/fonts/Wyue-GutiFangsong-NC_deliverable.otf);
}
body{text-align: center;
	margin-top: 16px;
	background-color: black;
	color:white;}

.center{text-align: center;
}

#title {
	font-family: Wyue;
	font-size:72px;
	letter-spacing: 14px;　 
}
#subtitle{
	font-family: Wyue;
	font-size:18px;
	letter-spacing: 26px;　  
}

.quote{
	font-family: Wyue;
	font-size:18px;
}

